body {
  background-color: #34353a;
  font-family: 'Proxima Nova';
}
/* .App{
  background-color: #34353a;
  height: 100%;
  width: 100%;
} */


.active {
  color: #fff!important;
  font-weight: bold!important;

}

.deactive {
  color: #757575!important;
  font-weight: bold!important;
}